nginx:
   image: "nginx:1.13.12-alpine"
   ports:
     - 5000:443
   links:
     - registry_auth:registry_auth
   volumes:
     #- ./nginx/:/etc/nginx/conf.d:ro
     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
     - ./nginx/registry.conf:/etc/nginx/conf.d/registry.conf:ro
   restart: always


registry_auth:
   image: registry:2.5.0
   restart: always
   ports:
     - 127.0.0.1:5001:5000
   environment:
     REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
   volumes:
     - ./config.yml:/etc/docker/registry/config.yml
     - /data/registry_data:/var/lib/registry
   links:
     - cache:redis
   restart: always

cache:
   image: "redis:3.2.12-alpine"
   ports:
     - 6379
   restart: always
   command: "--maxmemory 16mb --maxmemory-policy allkeys-lru"
    
